.main-block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;

	height: min(100vh, 668px);
}

.main-block__title {
	display: grid;

	max-width: 1010px;

	text-align: center;
	font-size: 80px;
}

.main-block__title--highlight {
	color: var(--primary-color);
}

.main-block__paragraph {
	max-width: 450px;

	font-size: 20px;
	text-align: center;
}

.main-block__button {
	margin-top: 40px;
}
