.title {
	font-size: 60px;
	font-weight: 700;
	line-height: 1.3em;
  text-transform: uppercase;
}

.paragraph {
	color: var(--text-color);

	font-size: 18px;
	font-weight: 400;
	line-height: 1.3em;
}
